.color {
    color: orange
}

.flexible-part-one {
    display: flex;
    padding-bottom: 150px;
}

.half-width {
    width: 50%;
    padding: 2px;
}

.half-width img {
    width: 560px;
    height: 560px;

}

h1 {
    font-size: 72px;
}

.color-two {
    color: rgb(122, 120, 120);
}

.top-space {
    padding-top: 70px;
    margin-left: 50px;
    padding-left: 60px;
}

.top-space-img {
    padding-top: 60px;
}

p {
    font-size: 29px;
    color: rgb(122, 120, 120);
    padding-bottom: 40px;
}

.flexible-part-two {
    display: flex;
    padding-bottom: 20px;
}

.link-button {
    background-image: linear-gradient(orange, tomato);
    border-radius: 25px;
    font-weight: 700;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

h2 {
    font-size: 40px;
}

.new-one {
    padding-left: 70px;
    padding-top: 150px;
}

.text-one {
    font-size: 22px;
    padding-right: 210px;
    padding-bottom: 60px;
}

.top-banner {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.image-sizing {
    max-width: 50%;
    max-height: 80%;
    padding-left: 150px;
    padding-top: 100px;
}

.middle-point {
    text-align: center;
    color: rgb(94, 92, 92);
    font-size: 50px;
}

.paragraph-three {
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    font-size: 20px;
}