.color {
    color: orange
}

.flexible-part-one {
    display: flex;
    padding-bottom: 150px;
}

.half-width {
    width: 50%;
    padding: 2px;
}

.half-width img {
    width: 560px;
    height: 560px;

}

h1 {
    font-size: 72px;
}

.color-two {
    color: rgb(122, 120, 120);
}

.top-space {
    padding-top: 70px;
    margin-left: 50px;
    padding-left: 60px;
}

.top-space-img {
    padding-top: 60px;
}

p {
    font-size: 29px;
    color: rgb(122, 120, 120);
    padding-bottom: 40px;
}

.flexible-part-two {
    display: flex;
    padding-bottom: 20px;
}

.link-button {
    background-image: linear-gradient(orange, tomato);
    border-radius: 25px;
    font-weight: 700;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

h2 {
    font-size: 40px;
}

.new-one {
    padding-left: 70px;
    padding-top: 150px;
}

.text-one {
    font-size: 22px;
    padding-right: 210px;
    padding-bottom: 60px;
    font-size: 25px;
}

.top-banner {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.image-sizing {
    max-width: 50%;
    max-height: 80%;
    padding-left: 150px;
    padding-top: 100px;
}

.middle-point {
    text-align: center;
    color: rgb(94, 92, 92);
    font-size: 50px;
}

.paragraph-three {
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    font-size: 20px;
}

.flexible-part-three {
    display: flex;

}

.image-last-part {
    padding-left: 220px;
    max-width: 600px;
    max-height: 350px;
}

.image-last-part-two {
    padding-left: 10px;
    max-width: 600px;
    max-height: 350px;
}

.title-one {
    text-align: left;
    font-size: 35px;
    padding-left: 220px;
}

.title-two {
    text-align: left;
    font-size: 35px;
    padding-left: 10px;
}

.style-okk-one {
    padding-left: 220px;
    padding-right: 80px;
    text-align: justify;
    font-size: 25px;
}

.style-okk-two {
    padding-left: 10px;
    padding-right: 280px;
    text-align: justify;
    font-size: 25px;
}

.felxible-part-last {
    display: flex;
    padding-top: 100PX;
}

.fit-yes {
    padding-left: 400px;
    padding-right: 100px;
}

.fit-yes-two {
    padding-left: 100px;
    padding-right: 100px;
}

.fit-yes-three {
    padding-left: 100px;
    padding-right: 400px;
}

.fotter-css {
    text-align: center;
    background-color: rgb(17, 18, 29);
}

.heading {
    font-size: 55px;
}

.paragraph {
    font-size: 18px;
}

.color-three {
    color: rgb(253, 139, 119);
    font-size: 33px;
}

.color-four {
    color: rgb(122, 120, 120);
    font-size: 33px;
}

.last-para {
    font-size: 16px;
}